.container {
  display: flex;
}

.left-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ebf3d3;
}

.right-container {
  width: 50%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #4e86ac;
}

.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.error {
  color: rgb(247, 8, 8);
}

.checkbox {
  margin-top: 20px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

#table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.thdetails {
  background-color: #74a07f;
}

.tbdetils {
  background-color: #a2ccb8;
}

#tablerow {
  border-bottom: 1px solid #ddd;
}

.value {
  width: 20%;
}

.age,
.position,
.gender,
.terms,
.button {
  width: 10%;
  text-align: center;
}

.button button {
  padding: 8px 15px;
  background-color: #0b43ac;
  color: rgb(236, 241, 243);
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.button button:hover {
  background-color: #d32f2f;
}

button#Logoutbtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#logout:hover {
  background-color: #d32f2f;
}
